<h1><center>Avaliação de PDF</center></h1>

<p>Seu PDF foi avaliado como <strong><%= @archive.status %></strong>.</p>

<h2>Dados do PDF: </h2>
<p>Status: <strong><%= @archive.status %></strong></p>

<br>
<p>Em caso de dúvidas, entre em contato com o NAPP.</p>