<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
   
<br><br>

<div class="introducao">
  <div class="page-header text-center">
    <h3>Histórico do Sistema ECS </h3>
  </div>

  <p>
  <br>
    Este Sistema denominado <b>ECS - Estágio Curricular Supervisionado</b> - decorreu-se 
    face ao Projeto para Bolsa de Apoio Acadêmico e Desenvolvimento Tecnológico, 
    submetido e aprovado pelo Edital Nº 1 - Campus Campos Centro, datado de 24 de 
    fevereiro de 2022, intitulado “Sistema Web de apoio ao Estágio Curricular Supervisionado 
    nos Cursos de Licenciatura”, no âmbito da Diretoria de Ensino dos Cursos Superiores de Licenciatura 
    (DIRLIC) deste <i>Campus</i>, representada pela Professora Drª Marlúcia Cereja de Alencar.
    </p>
    <p>
    A equipe do referido Sistema constitui-se pela Gerente Conceição de Maria Campinho Rabello Corte Real 
    e pela Supervisora Édina Maria Barreto Lacerda Gomes - ambas Pedagogas do Núcleo de Apoio à Prática 
    Profissional (NAPP)/DIRLIC -, assim como pela bolsista Esther Sant'Ana Gomes - bacharelanda do Curso - 
    de Sistema de Informação deste <i>Campus</i>-.
  </p>

  <div class="text-center">
  <b><p>O Sistema ECS</p></b>
  </div>

  <p>
  <b>(a)</b> Implementa-se a partir do 2º semestre letivo de 2023, com o propósito de otimizar os processos 
  do Estágio Curricular Supervisionado do 5º ao 8º período dos Cursos de Licenciatura, entre a parte promotora 
  e a parceira-concedente de Instituições Públicas e Privadas, e Não Formais, no que tange emissões de documentos 
  obrigatórios ao campo de Estágio, com uso de ferramentas que facilitassem este processo;
  </p>

  <p>
  <b>(b)</b> Traduz o compartilhamento de saberes, quando se remetem à EXTENSÃO - atender as demandas da comunidade 
  externa (Instituições Públicas e Privadas, e Não Formal) e interna (Comunidade Acadêmica)-, ao ENSINO - promover 
  as fundamentações a partir das literaturas científicas - e à PESQUISA - sistematizar a construção, a produção científica 
  e a consolidação de resultados -.
  </p>


</div>
</div>