<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
   
<br><br>

<div class="introducao">
  <div class="page-header text-center">
    <h3>Histórico do Sistema ECS </h3>
  </div>

  <p style="font-family: Calibri">
  <br>
    Este Sistema denominado <b>ECS - Estágio Curricular Supervisionado</b> - decorreu-se 
    do Projeto para Bolsa de Apoio Acadêmico e Desenvolvimento Tecnológico, 
    submetido e aprovado pelo Edital N.º 1 <i>Campus</i> Campos Centro, de 24 de 
    fevereiro de 2022, e pelo Edital DGCCENTRO/REIT/IFFLU N.º 45, de 01 de dezembro de 2022 -, intitulado <i>“Sistema Web de apoio ao Estágio Curricular Supervisionado 
    nos Cursos de Licenciatura”</i>, no âmbito da Diretoria de Ensino dos Cursos Superiores de Licenciatura 
    (DIRLIC) deste <i>Campus</i>, representada pelas Diretoras Marlúcia Cereja de Alencar e Denise Rosa Xavier.
    </p>
    <p style="font-family: Calibri">
    A equipe do referido Sistema constitui-se pela Gerente Conceição de Maria Campinho Rabello Corte Real 
    e pela Supervisora Édina Maria Barreto Lacerda Gomes - ambas Pedagogas do Núcleo de Apoio à Prática 
    Profissional (NAPP)/DIRLIC -, assim como pela bolsista Esther Sant'Ana Gomes - bacharelanda do Curso 
    de Sistema de Informação deste <i>Campus</i> -.
  </p>

  <div class="text-center">
  <b><p style="font-family: Calibri">O Sistema ECS</p></b>
  </div>

  <p style="font-family: Calibri">
  <b>(a)</b> Implementa-se a partir do 1.º semestre letivo de 2024, com o propósito de otimizar os processos 
  do Estágio Curricular Supervisionado do 5.º ao 8.º período dos Cursos de Licenciatura, entre as partes Promotora (IFFluminense <i>Campus</i> Campos Centro), 
  Concedente de Instituições Públicas e Privadas, e Licenciandos(as), no que tangem emissões de documentos 
  obrigatórios ao campo de Estágio (Lei N.º 11.788, de 25/09/2008).
  </p>

  <p style="font-family: Calibri">
  <b>(b)</b> Traduz o compartilhamento de saberes, quando se remetem à EXTENSÃO - corroborar com as comunidades 
  externa (Instituições Públicas e Privadas) e interna (Comunidade Acadêmica) -, ao ENSINO - desenvolver 
  as atividades, a partir das literaturas científicas do Curso em Sistemas de Informação - e à PESQUISA - sistematizar a construção, a produção, 
  a consolidação de resultados e a constante retroalimentação do Sistema -.
  </p>


</div>
</div>