<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>

    <div class="text-box">
            <div class="text-box-heading">
            <div class="d-flex align-items-center justify-content-center">
            <div class="arrow-down"><span style="color: #f00;"></span></div>
            </div>
            <p><br>
            <div class="text-box">
            <div class="text-box-heading">
                <div class="form">
                <form>
                Disponível, quando da oferta de Estágio, nas regiões local e circunvizinhas, 
                  no 2.º segmento do Ensino Fundamental e/ou em Curso de Nível Médio!</p>
            </form>
            </div>
            </div>
            </div>
            </div>
        </header>
    </div>
</div>