/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'welcome';

.row{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .introducao{
    background-color: rgba(240,240,240,0.7);
    padding:10px;
    border-radius:10px;
    border:2px solid black;
  }
  
  .page-header {
    border-bottom: 2px solid black;
  }
  

.formulario_login {
    border: 1px solid rgba(200,200,200,0.6);
    box-shadow: -2px 2px 15px rgba(200,200,300,0.9);
    padding:15px;
    margin: 0 auto;
    text-align: center;
  }
  
  .inicio{
    border: 1px solid rgba(200,200,200,0.6);
    box-shadow: -2px 2px 15px rgba(200,200,300,0.9);
    padding:15px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }
  
  
  .imagem_topo img {
    margin-top: -30px;
  }

  .container {
    border-left:none!important;
  }

  @media (max-width: 768px) {
    .introducao {
      padding: 5px;
      font-size: 14px;
    }
  
    .formulario_login,
    .inicio {
      padding: 10px;
      font-size: 14px;
    }
  }