.arrow-down{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
  }
  
  .form{
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(81, 190, 112);
    font-size: 20px;
    border-radius: 10px;
  }
  
  .text-box{
      color: var(--black);
      
  }
  .styleImage{
    border-radius: 100px;
    border: 3px solid lightgray;
  }  

  .small-message-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Ajuste conforme necessário */
  }

  @media (max-width: 768px) {
    .form {
      font-size: 16px; /* Reduz a fonte para dispositivos menores */
    }
    
    .arrow-down {
      font-size: 28px; /* Reduz o tamanho da seta para dispositivos menores */
    }
  
    .styleImage {
      width: 50px; /* Ajusta o tamanho da imagem para dispositivos menores */
      height: 50px;
    }
  }

  @media (max-width: 375px) {
    .form {
      font-size: 14px; /* Reduz a fonte ainda mais para dispositivos menores */
    }
    
    .arrow-down {
      font-size: 24px; /* Reduz o tamanho da seta ainda mais para dispositivos menores */
    }
  
    .styleImage {
      width: 40px; /* Ajusta o tamanho da imagem ainda mais para dispositivos menores */
      height: 40px;
    }
  }
  